<header>
    <h1>My Kaspi Store</h1>
    
    <nav class="categories-nav">
      @for (cat of categories; track cat.id) {
        <button 
          (click)="selectCategory(cat)"
          [class.active]="selectedCategoryName === cat.name"
          class= "cat-btn">
          {{ cat.name }}
        </button>
      }
    </nav>
  </header>
  
  <main>
    @if (selectedCategoryName) {
      <h2>Категория: {{ selectedCategoryName }}</h2>
      
      <app-product-list [products]="selectedProducts"></app-product-list>
      
    } @else {
      <div class="welcome-screen">
        <h2>Добро пожаловать!</h2>
        <p>Пожалуйста, выберите категорию товаров сверху, чтобы начать покупки.</p>
      </div>
    }
  </main>