#container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#desktop {
    display: none;
}

#left-content {
    display: flex;
}

.logo {
    position: relative;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 60px;
}

.hr_line {
    border-bottom: 1px solid #DADDE1;
    width: 90%;
}

#right-content {
    padding: 30px;
    padding-left: 50px;
}

.input {
    padding-left: 15px;
    width: 80%;
    height: 60px;
    border: 1px solid #dddfe2;
    border-radius: 12px;
    margin: 5px;
}

#password {
    margin-bottom: 20px;
}

.enter_button {
    width: 80%;
    height: 50px;
    border: 1px solid #dddfe2;
    border-radius: 28px;
    margin: 5px;
    color: white;
    background-color: #1877F2;
    cursor: not-allowed;
}

#forgot_password {
    display: block;
    margin-top: 15px;
    position: relative;
    left: 30%;
    margin-bottom: 50px;
}

.new_account_or_facebook {
    color: black;
    cursor: pointer;
    background-color: white;
}

.icon {
    width: 15px;
}

#meta {
    margin-top: 10px;
    display: block;
    margin-left: 37%;
}

@media (min-width: 768px) {
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap: 40px;
        border-bottom: 1px solid #DADDE1;
        width: 100%;
    }

    #left-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center;
    }

    #right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding-left: 0;
    }

    .logo {
        /* align-self: flex-start арқылы логотипті сол жақ жоғары бұрышқа жылжытамыз */
        align-self: flex-start; 
        margin-bottom: 120px;
        /* position: static мобилді нұсқадағы 'relative' мен 'left: 50%' қасиеттерін жояды */
        position: static;      
        margin-left: 5px;     
        width: 50px;          
    }

    .input, .enter_button {
        width: 100%;
        max-width: 350px;
    }

    #meta {
        margin-top: 10px;
        display: block;
        margin-left: 2%;
    }

    .hr_line {
        border-bottom: none;
        width: none;
    }

    .hr_line.desktop {
        border-bottom: none;
        width: none;
        /* Desktop нұсқасында сызықты тігінен шығару үшін border-right қолданылады */
        border-right: 1px solid #DADDE1;
        height: 600px;
    }

    #desktop {
        /* Бұл бөлім тек экран 768px-ден асқанда ғана көрінеді */
        display: block;
    }

    #log_page_photo {
        margin-bottom: 100px;
        width: 300px;
        height: 250px;
    }

    #textofphoto {
        color: red;
    }
}