* {
    box-sizing: border-box;
  }
body{
    position: relative;
}
#container {
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 700px;
    grid-template-columns: auto;
    background-color:#f2f4f7;
    align-items: center;
    padding: 50px 20px 50px 20px;
    border: 1px solid #dddfe2;
    border-radius: 1%
}

p{
    font-size: 14px;
}
.link {
    cursor: pointer;
    text-decoration: none;
}
.link.underline:hover{
    text-decoration: underline;
}
#left-side {
    flex: 1;
    margin: 20px;
    width: 50%;
}

#right-side {
    flex: 1;
    margin: 20px;
    text-align: center;

}

#left-content{
    margin-left:30px;
    margin-top: -140px
}
#left-content img {
    max-width: 100%;
    height: auto;
    display: block;
  }

#right-content{
    border-radius: 2%;
    padding: 10px 7px 20px 7px;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 180px;
    background-color: #fff;
    width: 380px;
    height: 340px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    
}
.input{
    font-size: 20px;
    border: 1px solid #dddfe2;
    padding-left: 10px;
    border-radius: 5px;
    width: 350px;
    height: 2.5em;
    margin: 7px;
}
.input.enter{
    width: 360px;
    background-color: #0866ff;
    color: #fff;
    font-weight: bold;
}
#forgot {
    margin-top: 5px;
    color:rgb(8, 102, 255);
    font-size: 14px;
}
#line {
    align-items: center;
    border-bottom: 1px solid #DADDE1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
#create_new_account {
    background-color: #42b72a;
    color: #fff;
    width: 250px;
    
}
#black_bttn{
    color: #1c1e21;
}
#facebook {
    width: 320px;
    height: 106px;
    margin-bottom: 0px;
}
#log_text{
    width: 368;
    height: 104;
    font-family: arial;
    font-size: 27px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: -10px;
}